:root{
    --primary:#0e9ab3;
    --primary-dark:##093f5b;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
/* Header Start */

header{
    transition: all 0.8s ease;
    padding: 10px 0;
    z-index: 999;
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 5px 10px 0 rgb(65 71 108 / 15%);
}
header>div>a>img{
    max-height: 50px;
}

header a{
    text-decoration: none;
}

/* Navbar of Desktop */
.navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    padding: 10px 0 10px 30px;
    font-family: "open sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-dark);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--primary);
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    color: black;
    background: white;
    backdrop-filter: blur(6px);
    border-radius: 22px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none;
    font-weight: 510;
    color:black;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
    color:black;
  }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--primary);
  }
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  #navElement {
    position: relative;
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    color: var(--primary-dark);
    font-size: 15px;
    padding: 0 10px;
  }
  
  #navElement:hover {
    color: var(--primary);
  }
  
  #navElement:hover:after {
    width: 100%;
  }
  
  /* Navbar for mobile */
  .mobile-nav-toggle {
    color: #093f5b;
    font-size: 30px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #093f5b;
   
    ;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
      text-align: center;
    }
    .get-started-btn {
    margin-right: 10px;
    }
  
    #navElement {
      padding: 10px;
      text-align: center;
      margin: 12px;
      margin-left: 16px;
      font-size: 15px;
      text-align: center;
  
  
    }
  
    #navElement:hover {
      /* text-transform: uppercase; */
      letter-spacing: 2px;
    }
  
    .navbar li {
      text-align:center;
    }
    .navbar .dropdown ul li {
      max-width: 100px;
    
    }
    
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 500;
    }
    
  }
  
  @media(min-width:991px) {
    #navElement:after {
      content: "";
      position: absolute;
      background: #0e9ab3;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f2f3f7;
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
      -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 14px;
    color: black;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #0e9ab3;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    color:black;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
      -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: black;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  /* Heade section ended */